@model P2WebMVC.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Products";
}




<div class="hero-wrap hero-bread" style="background-image: url('@Url.Content($"~/images/{ViewBag.category}.jpg")');">

    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Products > </a></span>
                    <span>@ViewBag.category</span>
                </p>
                <h1 class="mb-0 bread">@ViewBag.category</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light" style="padding-top: 50px;">
    <div class="container">
        @* <h3 class="pb-3 text-center"> <span style="text-transform: capitalize;">@ViewBag.category </span>  Products </h3> *@

        <div class="row">


            <div class="col-md-8 col-lg-10 order-md-last">



                <div class="row">

                    @foreach (var product in Model.Products)
                    {

                        <div class="col-sm-6 col-md-6 col-lg-4 ftco-animate" >

                            <div class="product" >
                                <a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId" class="img-prod"><img class="img-fluid" src="@product.ImageUrl"
                                        alt="Colorlib Template">
                                    <span class="status">@product.Discount % off</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 px-3">
                                    <h3><a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId">@product.Name</a></h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span class="mr-2 price-dc">$ @product.Price</span><span
                                                    class="price-sale">$ @product.Price</span></p>
                                        </div>
                                        <div class="rating">
                                            <p class="text-right">
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="bottom-area d-flex px-3">
                                        <a asp-controller="product" asp-action="AddToCart" asp-route-ProductId = "@product.ProductId" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i
                                                    class="ion-ios-add ml-1"></i></span></a>
                                        @* <a href="#" class="buy-now text-center py-2">Buy now<span><i
                                                    class="ion-ios-cart ml-1"></i></span></a> *@
                                    </p>
                                </div>
                            </div>
                        </div>



                    }

                </div>



                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-4 col-lg-2 sidebar">

                @if (ViewBag.category == "Men" || ViewBag.category == "All")
                {
                    <div class="sidebar-box-2">
                        <h2 class="heading mb-4"><a href="#">Men</a></h2>
                        <ul>
                            <li><a href="#">T-Shirts &amp; Polos</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                            <li><a href="#">Jackets &amp; Coats</a></li>
                            <li><a href="#">Suits &amp; Blazers</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Trousers &amp; Chinos</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Activewear</a></li>
                            <li><a href="#">Underwear &amp; Socks</a></li>
                            <li><a href="#">Men Accessories</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </div>
                }


                @if (ViewBag.category == "Women" || ViewBag.category == "All")
                {
                    <div class="sidebar-box-2">
                        <h2 class="heading mb-4"><a href="#">Women</a></h2>
                        <ul>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Trousers &amp; Pants</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Jumpsuits &amp; Rompers</a></li>
                            <li><a href="#">Jackets &amp; Coats</a></li>
                            <li><a href="#">Sweaters &amp; Cardigans</a></li>
                            <li><a href="#">Activewear</a></li>
                            <li><a href="#">Sleepwear</a></li>
                            <li><a href="#">Women Accessories</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </div>

                }


                @if (ViewBag.category == "Accessories" || ViewBag.category == "All")
                {

                    <div class="sidebar-box-2">
                        <h2 class="heading mb-2"><a href="#">Accessories</a></h2>
                        <ul>
                            <li><a href="#">Hats &amp; Caps</a></li>
                            <li><a href="#">Scarves &amp; Wraps</a></li>
                            <li><a href="#">Belts</a></li>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Watches</a></li>
                            <li><a href="#">Jewelry</a></li>
                            <li><a href="#">Bags &amp; Purses</a></li>
                            <li><a href="#">Wallets</a></li>
                            <li><a href="#">Gloves</a></li>
                            <li><a href="#">Hair Accessories</a></li>
                        </ul>
                    </div>

                }


                @if (ViewBag.category == "Kids" || ViewBag.category == "All")
                {
                    <div class="sidebar-box-2">
                        <h2 class="heading mb-2"><a href="#">Kids</a></h2>
                        <ul>
                            <li><a href="#">T-Shirts &amp; Tops</a></li>
                            <li><a href="#">Dresses &amp; Skirts</a></li>
                            <li><a href="#">Pants &amp; Shorts</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Jackets &amp; Coats</a></li>
                            <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                            <li><a href="#">Sleepwear</a></li>
                            <li><a href="#">School Uniforms</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                }


                @if (ViewBag.category == "Shoes" || ViewBag.category == "All")
                {

                    <div class="sidebar-box-2">
                        <h2 class="heading mb-4"><a href="#">Shoes</a></h2>
                        <ul>
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Addidas</a></li>
                            <li><a href="#">Skechers</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Coats</a></li>
                            <li><a href="#">Jeans</a></li>
                        </ul>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
