@using P2WebMVC.Types
@model P2WebMVC.Models.ViewModels.ProductViewModel

@{
	ViewData["Title"] = "Home";
}


@* hero section  *@
<section id="home-section" class="hero">
	<div class="home-slider js-fullheight owl-carousel">
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
			<div class="container-fluid p-0">
				<div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
					data-scrollax-parent="true">
					<div class="one-third order-md-last img js-fullheight"
						style="background-image:url(images/bg_1.jpg);">
					</div>
					<div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
						data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading">Australasia Apparels</span>
							<div class="horizontal">
								<h3 class="vr" style="background-image: url(~/images/divider.jpg);">Celebrating 3 years
								</h3>
								<h1 class="mb-4 mt-3">Catch Your Own <br><span>Stylish &amp; Look</span></h1>
								<p>Australasia Apparels brings you the finest collection of fashion, blending elegance
									with modern trends to redefine your style.</p>

								<p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Discover Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
			<div class="container-fluid p-0">
				<div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
					data-scrollax-parent="true">
					<div class="one-third order-md-last img js-fullheight"
						style="background-image:url(/images/bg_2.jpg);">
					</div>
					<div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
						data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading"> Australasia Apparels</span>
							<div class="horizontal">
								<h3 class="vr" style="background-image: url(~/images/divider.jpg);">Best eCommerce
									Online Shop</h3>
								<h1 class="mb-4 mt-3">A Thouroughly <span>Modern</span> Woman</h1>
								<p>Discover the latest trends and timeless classics that elevate your wardrobe. Shop now
									and redefine your style with Australasia Apparels!</p>

								<p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Shop Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


@* Best Sellers  *@
<section class="ftco-section bg-light pt-3">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Best Sellers</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">

			@foreach (var product in Model.Products.Where(p => p.Category == ProductCategory.Men || p.Category == ProductCategory.Women).Take(7).Skip(4))
			{
				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId"
							class="img-prod"><img class="img-fluid" src="@product.ImageUrl" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a asp-controller="Product" asp-action="Details"
									asp-route-ProductId="@product.ProductId">@product.Name</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$ @product.Price</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a asp-controller="Product" asp-action="AddToCart" asp-route-ProductId="@product.ProductId"
									class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i
											class="ion-ios-add ml-1"></i></span></a>
								@* <a href="#" class="buy-now text-center py-2">Buy now<span><i
											class="ion-ios-cart ml-1"></i></span></a> *@
							</p>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</section>

@* summer collection  *@
<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-8 d-flex align-items-stretch">
				<div class="img" style="background-image: url(images/about-1.jpg);"></div>
			</div>
			<div class="col-md-4 py-md-5 ftco-animate">
				<div class="text py-3 py-md-5">
					<h2 class="mb-4">New Women's Clothing Summer Collection 2025</h2>
					<p class="text-dark">Step into the sunshine with our Summer 2025 Women's Collection—featuring breezy
						fabrics, bold prints, and effortlessly chic styles designed to keep you cool and confident all
						season long.</p>

					<a asp-controller="Product" asp-action="Index" asp-route-category="women"
						class="btn btn-white px-4 py-3">Shop now</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 order-md-last d-flex align-items-stretch">
				<div class="img img-2" style="background-image: url(images/about-2.jpg);"></div>
			</div>
			<div class="col-md-7 py-3 py-md-5 ftco-animate">
				<div class="text text-2 py-md-5">
					<h2 class="mb-4">New Men's Clothing Summer Collection 2025</h2>
					<p class="text-dark">Gear up for the heat with our Men's Summer 2025 Collection—featuring
						lightweight fabrics, clean cuts, and versatile styles made for sun-soaked days and laid-back
						nights.</p>

					<a asp-controller="Product" asp-action="Index" asp-route-category="men"
						class="btn btn-primary px-4 py-3">Shop now</a>
				</div>
			</div>
		</div>
	</div>
</section>

@* for men  *@

<section class="ftco-section bg-light pt-3 pb-2">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4"> Men Products</h2>
				<p class="text-dark">Explore premium styles and rugged essentials designed for the modern man who values
					both comfort and character.</p>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			@foreach (var product in Model.Products.Where(p => p.Category == ProductCategory.Men).Take(4))
			{
				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId"
							class="img-prod"><img class="img-fluid" src="@product.ImageUrl" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a asp-controller="Product" asp-action="Details"
									asp-route-ProductId="@product.ProductId">@product.Name</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$ @product.Price</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a asp-controller="Product" asp-action="AddToCart" asp-route-ProductId="@product.ProductId"
									class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i
											class="ion-ios-add ml-1"></i></span></a>
								@* <a href="#" class="buy-now text-center py-2">Buy now<span><i
											class="ion-ios-cart ml-1"></i></span></a> *@
							</p>
						</div>
					</div>
				</div>
			}



		</div>
	</div>
</section>

@* for Women  *@
<section class="ftco-section bg-light pt-2 pb-2">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4"> For Women </h2>
				<p class="text-dark">Discover elegant styles and timeless designs crafted to celebrate every woman's
					unique beauty and confidence.</p>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

			@foreach (var product in Model.Products.Where(p => p.Category == ProductCategory.Women).Take(5).Skip(1))
			{
				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId"
							class="img-prod"><img class="img-fluid" src="@product.ImageUrl" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a asp-controller="Product" asp-action="Details"
									asp-route-ProductId="@product.ProductId">@product.Name</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$ @product.Price</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a asp-controller="Product" asp-action="AddToCart" asp-route-ProductId="@product.ProductId"
									class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i
											class="ion-ios-add ml-1"></i></span></a>
								@* <a href="#" class="buy-now text-center py-2">Buy now<span><i
											class="ion-ios-cart ml-1"></i></span></a> *@
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>


@* for Kids  *@
<section class="ftco-section bg-light pt-2 pb-2">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4"> For Kids</h2>
				<p class="text-dark">Bright, playful, and comfy—our kids' collection is made for endless adventures and
					happy little moments.</p>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

			@foreach (var product in Model.Products.Where(p => p.Category == ProductCategory.Kids).Take(4))
			{
				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId"
							class="img-prod"><img class="img-fluid" src="@product.ImageUrl" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a asp-controller="Product" asp-action="Details"
									asp-route-ProductId="@product.ProductId">@product.Name</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$ @product.Price</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a asp-controller="Product" asp-action="AddToCart" asp-route-ProductId="@product.ProductId"
									class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i
											class="ion-ios-add ml-1"></i></span></a>
								@* <a href="#" class="buy-now text-center py-2">Buy now<span><i
											class="ion-ios-cart ml-1"></i></span></a> *@
							</p>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</section>


@* for accesories  *@
<section class="ftco-section bg-light pt-2 pb-2">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4"> Accessories</h2>
				<p class="text-dark">Complete your look with our curated collection of accessories—where every detail
					makes a statement.</p>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">


			@foreach (var product in Model.Products.Where(p => p.Category == ProductCategory.Accessories).Take(4))
			{
				<div class="col-sm col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a asp-controller="Product" asp-action="Details" asp-route-ProductId="@product.ProductId"
							class="img-prod"><img class="img-fluid" src="@product.ImageUrl" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 px-3">
							<h3><a asp-controller="Product" asp-action="Details"
									asp-route-ProductId="@product.ProductId">@product.Name</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span>$ @product.Price</span></p>
								</div>
								<div class="rating">
									<p class="text-right">
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
										<a href="#"><span class="ion-ios-star-outline"></span></a>
									</p>
								</div>
							</div>
							<p class="bottom-area d-flex px-3">
								<a asp-controller="Product" asp-action="AddToCart" asp-route-ProductId="@product.ProductId"
									class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i
											class="ion-ios-add ml-1"></i></span></a>
								@* <a href="#" class="buy-now text-center py-2">Buy now<span><i
											class="ion-ios-cart ml-1"></i></span></a> *@
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>